.add-device-component-fields {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.add-device-component-fields input[type="checkbox"] {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.add-device-component-fields input {
  margin: 0px 5px !important;
}

.add-device-component-btn button {
  margin: 0 5px;
}
